body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://wallpaperbat.com/img/256044-oled-color-wallpaper-top-free-oled-color-background.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}


input {
  margin: 24px;
  padding: 6px;
  border-radius: 40px;
}

label {
  color: #FFFFFF;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
}

body > img {
  margin: 0 10px;
}

img {
  max-height: 250px;
}

p {
  color:white;
}